.footer__container {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
}

.footer ul {
  list-style-type: none;
  max-width: 50%;
  min-width: 20%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
  -moz-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  margin: 0;
  padding: 0;
  -webkit-transform: translateY(-20px);
  -moz-transform: translateY(-20px);
  -ms-transform: translateY(-20px);
  transform: translateY(-20px);
  margin-bottom: 60px;
}

.footer hr {
  width: 50%;
  height: 2px;
  border-width: 2px;
  border-color: #ffcc6d;
  margin: 0;
}

.footer__grazia {
  text-align: center;
  font-size: 2.5rem;
  padding-bottom: 40px;
}

.footer a svg {
  fill: white;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  -moz-transition: 0.2s;
  transition: 0.2s;
}

.footer a:hover svg {
  fill: #ffcc6d;
}
