img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #34353a;
  color: #ffffff;
  line-height: 1.5;
  font-family: "Fira Code", monospace;
  font-size: 1.2rem;
}

h2 {
  font-size: 2.5rem;
  font-weight: lighter;
}

.anchor {
  position: relative;
  display: block;
  width: 100%;
  height: 0;
  top: -300px;
  visibility: hidden;
}

#_dev-menu {
  -webkit-transform: translateX(-99%);
  -moz-transform: translateX(-99%);
  -ms-transform: translateX(-99%);
  transform: translateX(-99%);
  position: fixed;
  left: 0;
  top: 10%;
  z-index: 999;
  background: rgba(0, 0, 0, 0.75);
  padding: 10px;
  color: #fff;
  -webkit-border-radius: 0 5px 5px 0;
  -moz-border-radius: 0 5px 5px 0;
  border-radius: 0 5px 5px 0;
  -webkit-transform: translateX(0%);
  -moz-transform: translateX(0%);
  -ms-transform: translateX(0%);
  transform: translateX(0%);
}

#_dev-menu:hover {
  -webkit-transform: translateX(0%);
  -moz-transform: translateX(0%);
  -ms-transform: translateX(0%);
  transform: translateX(0%);
}

#_dev-menu-close {
  cursor: pointer;
  position: absolute;
  right: 10px;
  top: 10px;
}

.footer__container {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
}

.footer ul {
  list-style-type: none;
  max-width: 50%;
  min-width: 20%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
  -moz-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  margin: 0;
  padding: 0;
  -webkit-transform: translateY(-20px);
  -moz-transform: translateY(-20px);
  -ms-transform: translateY(-20px);
  transform: translateY(-20px);
  margin-bottom: 60px;
}

.footer hr {
  width: 50%;
  height: 2px;
  border-width: 2px;
  border-color: #ffcc6d;
  margin: 0;
}

.footer__grazia {
  text-align: center;
  font-size: 2.5rem;
  padding-bottom: 40px;
}

.footer a svg {
  fill: white;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  -moz-transition: 0.2s;
  transition: 0.2s;
}

.footer a:hover svg {
  fill: #ffcc6d;
}

.nav ul {
  padding: 40px 0 70px 0;
  font-size: 1.7rem;
  font-weight: lighter;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
  -moz-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  margin: 0 auto;
  list-style-type: none;
  margin-bottom: 20px;
}

.nav ul li a {
  color: inherit;
  opacity: 0.5;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  -moz-transition: 0.2s;
  transition: 0.2s;
}

.nav ul li a:hover {
  opacity: 1;
}
